@import "_variables";
@import "./progress";

$border-input-color: #C6C6C6;

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  background-color: #ffad5c;
  color: #000;
  margin: 0;

  @media screen and (max-width: $container-width) {
    font-size: 14px;
  }
}

.container {
  padding-top: 0;
  margin-top: 0;
  width: $container-width;
  background-color: #fff;
  margin: auto;
  padding: 50px 80px;
  position: relative;

  @media screen and (max-width: $container-width) {
    width: 100%;
    padding: 50px 10px;
  }

  @media screen and (max-width: $small-screen) {
    padding: 20px 10px;
  }
}

.button-link,
.peertube-button {
  background-color: $orange-darken;
  color: #fff;
  font-weight: $font-semibold;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }
}

.peertube-button {
  font-weight: 600;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 17px 0 13px;
  border: none;
}

.none-opacity {
  opacity: 0;
}

.select-container {
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 3px;
  position: relative;
  font-size: 15px;
  background-color: #fff;
  color: #000;

  &:after {
    top: 50%;
    right: calc(0% + 15px);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-top-color: #000;
    margin-top: -2px;
    z-index: 100;
  }

  select {
    padding: 0 35px 0 12px;
    position: relative;
    border: 1px solid $border-input-color;
    background: transparent none;
    appearance: none;
    cursor: pointer;
    height: $input-height;
    width: 100%;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    option {
      color: #000;
    }
  }
}

.classic-input-text {
  display: block;
  min-height: 30px;
  width: 100%;
  border: 1px solid $border-input-color;
  padding: 0 35px 0 12px;
  outline: 0;
}

.results {
  .root-result {
    display: flex;
    margin: 30px 0;
  }

  .information {
    width: 100%;
  }

  .title-block {

    > *{
      display: inline-block;
    }

    .handle {
      font-size: $small-font-size;
      color: $grey;
    }
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 5px 0 0;
    word-break: break-word;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .additional-information {
    margin: 5px 0 20px 0;
    font-size: $small-font-size;
    color: $grey;
  }

  .description {
    margin: 10px 0 20px 0;
    border-left: 1px solid #dee2e6;
    padding-left: 10px;
    word-break: break-word;

    a {
      color: #0056b3;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .metadata {
    > div {
      min-height: 27px;
      display: flex;
      align-items: center;
      font-size: $small-font-size;
    }

    label {
      color: $grey;
      min-width: 100px;
    }
  }

  .button {
    text-align: right;
  }

  .button-link {
    display: inline-block;
    margin: 20px 0;
  }

  @media screen and (max-width: $small-view) {
    .root-result {
      flex-direction: column;
    }

    .title {
      font-size: 20px;
    }

    .avatar {
      margin: 0 auto 20px auto !important;
    }

    .thumbnail {
      margin: 0 0 20px -10px !important;
    }

    .metadata {
      label {
        min-width: 70px;
        margin-right: 10px;
        align-items: center;
        font-weight: bold;
      }
    }
  }
}

.ti-tag {
  background: $orange-darken !important;
}
